@import '../../style/focus-outline.scss';

:host {
    display: block;

    .steps {
        list-style: none;
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: row;
        flex: 1;
    }

    .graphic-step {
        display: flex;
        position: relative;
        flex-direction: row;
        flex: 1;
        align-items: center;

        wcs-button {
            z-index: 1;
            mix-blend-mode: darken;
        }

        .button-step {
            z-index: 1;
            /* Visually hide the native button */
            position: absolute;
            opacity: 0;
            height: var(--wcs-size-m);
            width: var(--wcs-size-m);
            overflow: hidden;
            clip-path: inset(50%);
            white-space: nowrap;
            outline: 0;
            outline-offset: 0;
            right: 0;
        }

        .button-step:focus-visible + wcs-button {
            @include focus-outline($border-radius: 50%);
        }

        @supports not selector(.button-step:focus-visible + wcs-button) {
            .button-step:focus-within + wcs-button {
                @include focus-outline($border-radius: 50%);
            }
        }

        .active, .complete {
            background-color: var(--wcs-primary);
            color: white;
        }

        .disable {
            border: 1px solid var(--wcs-light);
            background-color: var(--wcs-background-light);
            color: var(--wcs-text-disabled);
        }
    }

    .graphic-step[data-first] {
        flex: 0;
    }

    wcs-progress-bar {
        --wcs-internal-progress-bar-border-radius: 0;
        flex: 1;
        margin: 0 -1px;
    }

    .label-container {
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        margin-top: var(--wcs-base-margin);
    }

    .label-container > * {
        width: 100%;
        text-align: center;
        flex: 1;
        color: var(--wcs-text-medium);
        font-weight: 500;

    }

    .label-container > *[data-disable] {
        color: var(--wcs-text-light);
    }

    .label-container > *[data-current] {
        color: var(--wcs-primary);
    }

    .label-container > div[data-first] {
        margin-left: 20px;
        text-align: left;
        flex: 0.5;
    }

    .label-container > div[data-first] > span {
        margin-left: -20px;
    }

    .label-container > div[data-last] {
        margin-right: 20px;
        text-align: right;
        flex: 0.5;
    }

    .label-container > div[data-last] > span {
        margin-right: -20px;
    }
}
