:host {
    --wcs-form-field-gap: var(--wcs-semantic-spacing-small);

    --wcs-form-field-prefix-suffix-border-radius: var(--wcs-semantic-border-radius-base);

    --wcs-form-field-prefix-icon-color: var(--wcs-semantic-color-text-inverse);
    --wcs-form-field-prefix-value-color: var(--wcs-semantic-color-text-inverse);
    --wcs-form-field-prefix-placeholder-color: var(--wcs-semantic-color-text-inverse);
    --wcs-form-field-prefix-color-disabled: var(--wcs-semantic-color-text-disabled);

    // Prefixed select
    ::slotted([slot=prefix]) {
        --wcs-select-value-color: var(--wcs-semantic-color-text-inverse);
        --wcs-select-placeholder-color: var(--wcs-semantic-color-text-inverse);
        --wcs-select-control-background-color: var(--wcs-semantic-color-background-action-primary-default);
        --wcs-select-control-arrow-color: var(--wcs-form-field-prefix-icon-color);
        --wcs-select-control-border-radius: var(--wcs-form-field-prefix-suffix-border-radius) 0 0 var(--wcs-form-field-prefix-suffix-border-radius);
        --wcs-select-control-border-style-focus: dashed;
        --wcs-select-control-border-color-focus: var(--wcs-semantic-color-border-focus-base);

        --wcs-select-native-value-color: var(--wcs-semantic-color-text-inverse);
        --wcs-select-native-placeholder-color: var(--wcs-semantic-color-text-inverse);
        --wcs-select-native-arrow-color: var(--wcs-form-field-prefix-icon-color);
        --wcs-select-native-background-color: var(--wcs-semantic-color-background-action-primary-default);
        --wcs-select-native-border-color-focus: var(--wcs-semantic-color-border-focus-base);
        --wcs-select-native-border-style-focus: dashed;
        --wcs-select-native-border-radius: var(--wcs-form-field-prefix-suffix-border-radius) 0 0 var(--wcs-form-field-prefix-suffix-border-radius);
        --wcs-select-native-option-color: var(--wcs-semantic-color-text-inverse);
    }

    ::slotted([slot=prefix][disabled]),
    ::slotted([slot=prefix][data-disabled]) {
        --wcs-select-control-background-color: var(--wcs-semantic-color-background-action-primary-disabled);
        --wcs-select-value-color: var(--wcs-semantic-color-text-disabled);
        --wcs-select-placeholder-color: var(--wcs-semantic-color-text-disabled);

        --wcs-select-native-background-color: var(--wcs-semantic-color-background-action-primary-disabled);
        --wcs-select-native-placeholder-color: var(--wcs-semantic-color-text-disabled);
        --wcs-select-native-value-color: var(--wcs-semantic-color-text-disabled);
    }

    ::slotted([slot=prefix]:hover:not([disabled]):not([data-disabled])) {
        --wcs-select-control-background-color: var(--wcs-semantic-color-background-action-primary-hover);
        --wcs-select-native-background-color: var(--wcs-semantic-color-background-action-primary-hover);
    }
    // endregion

    display: flex;
    flex-direction: column;
    gap: var(--wcs-form-field-gap);
}

.input-container {
    display: flex;
}

::slotted(wcs-radio-group) {
    margin-left: var(--wcs-semantic-spacing-base);
}

::slotted(wcs-radio-group[mode=option]) {
    margin-left: 0;
}

::slotted(wcs-select:not([slot=prefix])) {
    width: 100%;
}

::slotted(wcs-native-select:not([slot=prefix])) {
    width: 100%;
}

// Make input square on left side if there is a prefix
:host(.has-prefix) {
    --wcs-input-border-radius-left: 0;
}

// Make input square on right side if there is a suffix
:host(.has-suffix) {
    --wcs-input-border-radius-right: 0;
}

::slotted([slot=suffix]) {
    // Make button square on left side
    --wcs-button-border-radius: 0 var(--wcs-form-field-prefix-suffix-border-radius) var(--wcs-form-field-prefix-suffix-border-radius) 0;

    // Make select square on left side
    --wcs-select-control-border-radius: 0 var(--wcs-form-field-prefix-suffix-border-radius) var(--wcs-form-field-prefix-suffix-border-radius) 0 ;

    // Make native select square on left side
    --wcs-select-native-border-radius: 0 var(--wcs-form-field-prefix-suffix-border-radius) var(--wcs-form-field-prefix-suffix-border-radius) 0;
}
