<wcs-card>
    <wcs-card-body>
        <h4>Basic</h4>
        <wcs-progress-bar value="50"></wcs-progress-bar>
        <h4>Bar with label</h4>
        <wcs-progress-bar value="50" show-label="true"></wcs-progress-bar>
        <h4>Small bar</h4>
        <wcs-progress-bar value="20" small></wcs-progress-bar>

        <wcs-button stroked class="wcs-primary" style="position: absolute; right: 16px; bottom: 16px;"
            id="progress-bar-button">
            Change values
        </wcs-button>
    </wcs-card-body>
</wcs-card>

<script>
    document.querySelector('#progress-bar-button').addEventListener('click', () => {
        document.querySelectorAll('wcs-progress-bar')
            .forEach(p => p.setAttribute('value', Math.ceil(Math.random() * 100)));
    });

</script>
