.progress {
  display: flex;
  height: 0.625rem;
  font-size: 0.75rem;
  color: #4d4f53;
  background-color: #fff;
  background-image: linear-gradient(90deg, #e1ded9 50%, transparent 50%);
  background-size: 0.25rem 0.625rem;
  border-radius: 0.3125rem;

  &.has-label {
    margin-top: 2.375rem;
  }

  &.small {
    height: 0.3125rem;
    overflow: hidden;
    background-color: #fff;
    background-image: none;
    background-size: auto;
    border-radius: 0.15625rem;
  }

  // FIXME: Temporary fix so the label doesn't appear before the bar
  &.value-zero>.progress-bar>.progress-label {
    right: unset;
  }
}

.progress-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #4d4f53;
  text-align: center;
  background-color: var(--primary);
  border-radius: 0.3125rem;
  transition: width 0.375s ease-out;
}

.progress-label {
  position: absolute;
  right: 0;
  bottom: calc(100% + 0.5rem);
  font-size: 1.5rem;
  font-weight: 500;

  sup {
    font-size: 0.875rem;
    top: -.5em;
    position: relative;
    line-height: 0;
    vertical-align: baseline;
  }
}
