@import "../../style/wcs.colors";

input {
    display: block;
    padding: 0.65625rem 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
    color: $primary;
    background-color: $light;
    background-clip: padding-box;
    border: 0 solid $text-medium;
    border-radius: 0.4375rem;
}

.white {

    background-color: $white;
}
