:host {
    --wcs-input-border-radius: var(--wcs-border-radius);
}

input {
    color: var(--wcs-primary);
    background-color: var(--wcs-light);
    border: 1px solid var(--wcs-light);
    border-radius: var(--wcs-input-border-radius);
    
    display: block;
    padding: 0.65625rem 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
    background-clip: padding-box;
}

input:focus{
    outline:0;
    border: solid 1px var(--wcs-primary);
}

.white {
    background-color: var(--wcs-white);
}
