:host {
    --wcs-badge-lighter-percentage: 20;
    --wcs-badge-lighter-opacity: calc((100 - var(--wcs-badge-lighter-percentage)) / 100);

    --wcs-badge-font-weight: var(--wcs-semantic-font-weight-medium);

    --wcs-badge-height-l: calc(4 * var(--wcs-semantic-size-base));
    --wcs-badge-font-size-l: var(--wcs-semantic-font-size-label-1);
    --wcs-badge-height-m: calc(3 * var(--wcs-semantic-size-base));
    --wcs-badge-font-size-m: var(--wcs-semantic-font-size-label-2);
    --wcs-badge-height-s: calc(2.5 * var(--wcs-semantic-size-base));
    --wcs-badge-font-size-s: var(--wcs-semantic-font-size-label-3);

    --wcs-badge-border-radius-default: var(--wcs-semantic-border-radius-base);
    --wcs-badge-border-radius-circular: var(--wcs-semantic-border-radius-full);
    --wcs-badge-background-color: var(--wcs-semantic-color-background-surface-brand);
    --wcs-badge-color: var(--wcs-semantic-color-foreground-primary);

    --wcs-badge-padding-horizontal: var(--wcs-semantic-spacing-base);

    display: inline-block;
    padding: 0 var(--wcs-badge-padding-horizontal);
    height: var(--wcs-badge-height);
    font-size: var(--wcs-badge-font-size);
    box-sizing: border-box;
    font-weight: var(--wcs-badge-font-weight);
    line-height: 1;
    text-align: center;
    align-content: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--wcs-badge-border-radius-default);
    color: var(--wcs-badge-color);
    background-color: var(--wcs-badge-background-color);
}

:host([color=lighter]) {
    opacity: var(--wcs-badge-lighter-opacity);
}

:host([shape=rounded]){
    border-radius: var(--wcs-badge-border-radius-circular);
}

:host([size=l]) {
    --wcs-badge-height: var(--wcs-badge-height-l);
    --wcs-badge-font-size: var(--wcs-badge-font-size-l);
}

:host([size=m]) { // Default
    --wcs-badge-height: var(--wcs-badge-height-m);
    --wcs-badge-font-size: var(--wcs-badge-font-size-m);
}

:host([size=s]) {
    --wcs-badge-height: var(--wcs-badge-height-s);
    --wcs-badge-font-size: var(--wcs-badge-font-size-s);
}
