:host {
    --wcs-badge-ligther-percentage: 20;
    display: inline-block;
    padding: 0.313rem 1.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 6px;
    color: var(--wcs-contrast);
    background-color: var(--wcs-base);
}

:host([color=lighter]) {
    opacity: calc((100 - var(--wcs-badge-ligther-percentage)) / 100);
}

:host([shape=rounded]){
    border-radius: 0.75rem;
}
