<wcs-card>
    <wcs-card-body>
        <wcs-badge class="wcs-primary">Primary</wcs-badge>
        <wcs-badge class="wcs-secondary">Secondary</wcs-badge>
        <wcs-badge class="wcs-success">Success</wcs-badge>
        <wcs-badge class="wcs-danger">Danger</wcs-badge>
        <wcs-badge class="wcs-warning">Warning</wcs-badge>
        <wcs-badge class="wcs-info">Info</wcs-badge>
        <wcs-badge class="wcs-light">Light</wcs-badge>
        <wcs-badge class="wcs-dark">Dark</wcs-badge>
    </wcs-card-body>
</wcs-card>
