:host {
    --wcs-dropdown-divider-spacing: var(--wcs-semantic-spacing-base);
    --wcs-dropdown-divider-color: var(--wcs-semantic-color-border-secondary);

    display: block;
    margin: var(--wcs-dropdown-divider-spacing) calc(var(--wcs-dropdown-divider-spacing) * 2);
    overflow: hidden;
    border-top: 1px solid var(--wcs-dropdown-divider-color);
}
