:host {
    display: block;
    margin: var(--wcs-base-margin) calc(var(--wcs-base-margin) * 2);
    overflow: hidden;
    border-top: 1px solid var(--wcs-text-light);
    width: calc(100% - calc(var(--wcs-base-margin) * 4));
}
