@import '../../style/wcs.elevation.scss';
@import '../../style/wcs.fonts.scss';
// TODO: get rid of this.
@import '@material/ripple/mdc-ripple';

:host([clear]),
:host([stroked]) {
    .wcs-inner-button {
        background-color: transparent;
        box-shadow: none;
        color: var(--base);

        &::before,
        &::after {
            background-color: var(--base);
        }
    }
}

:host([stroked]) {
    .wcs-inner-button {
        border-width: 1px;
        border-style: solid;
        border-color: var(--base);
    }
}

:host([disabled]) {
    .wcs-inner-button {
        color: var(--text-disabled);
        background-color: var(--light);
        border-color: var(--light);
        opacity: 1;
        cursor: default;
        pointer-events: none;
    }
}

:host([clear][disabled]),
:host([stroked][disabled]) {
    .wcs-inner-button {
        background-color: transparent;
    }
}


.wcs-inner-button {
    @include mdc-ripple-surface;
    @include mdc-ripple-radius-bounded;

    // Temporary fix for Ripple
    @include mdc-states-base-color(white);

    &::before,
    &::after {
        background-color: var(--contrast);
    }

    @include mdc-states-hover-opacity(.1);
    @include mdc-states-focus-opacity(.2);
    @include mdc-states-press-opacity(.3);

    // FIXME:
    font-family: Avenir;

    background-color: var(--base, --primary);
    color: var(--contrast, --white);
    --mdc-theme-primary: blue;
    --mdc-theme-secondary: red;
    overflow: hidden;
    outline: 0;
    text-transform: none;
    margin: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: none;
    padding: 0.59375rem 1.875rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: var(--wcs-border-radius);

    transition: color 175ms ease-in-out,
    background-color 175ms ease-in-out,
    wcs-elevation-transition();

    &:focus {
        @include wcs-elevation(1);
    }

    &:hover {
        @include wcs-elevation(2);
    }

    &.wcs-inner-button-small {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5;
        padding: 0.125rem 1.25rem;
        border-radius: var(--wcs-border-radius);
    }

    &.wcs-inner-button-block {
        display: block;
        width: 100%;
    }

    &.wcs-inner-button-icon-only {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        min-width: 3.125rem;
        min-height: 2.8125rem;
    }

    &.wcs-inner-button-rounded {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
    }

    &.wcs-inner-button-disabled {}
}

a {
    text-decoration: none;
}

// Remove mozilla dotted outline on button and a
button::-moz-focus-inner,
a::-moz-focus-inner {
    border: 0;
}
