<wcs-card>
    <wcs-card-body>
        <h4>Basic</h4>
        <wcs-progress-radial value="20"></wcs-progress-radial>
        <h4>Radial with label</h4>
        <wcs-progress-radial value="20" show-label></wcs-progress-radial>
        <wcs-button stroked class="wcs-primary" style="position: absolute; right: 16px; bottom: 16px;"
            id="progress-radial-button">
            Change values
        </wcs-button>
    </wcs-card-body>
</wcs-card>

<script>
    document.querySelector('#progress-radial-button').addEventListener('click', () => {
        document.querySelectorAll('wcs-progress-radial')
            .forEach(p => p.setAttribute('value', Math.ceil(Math.random() * 100)));
    });

</script>
