@import "~gridjs/dist/theme/mermaid.css";

:host {
    td {
        color: var(--wcs-gray-light);
        border-color: var(--wcs-text-light);
        border-right: none;
        border-left: none;
        font-size: 16px;
        line-height: calc(var(--wcs-padding)*2);
        padding: calc(var(--wcs-padding)/2) calc(var(--wcs-padding));
    }

    th {
        background-color: var(--wcs-light);
        color: var(--wcs-gray-dark);
        padding: calc(var(--wcs-padding)/1.5) calc(var(--wcs-padding));
        border-color: var(--wcs-text-light);
        font-weight: 500;
    }

    .gridjs-container {
        padding: 0;
    }

    .gridjs-wrapper {
        border: none;
        border-radius: 0px;
        box-shadow: none;
    }
}
