:host {
    --wcs-tabs-width: 64px;
    --wcs-tabs-padding-horizontal: 16px;
    --wcs-tabs-padding-vertical: 8px;
}

:host([align=start]) .wcs-tabs-headers {
    justify-content: start;
}

:host([align=end]) .wcs-tabs-headers {
    justify-content: end;
}

:host([align=center]) .wcs-tabs-headers {
    justify-content: center;
}

.wcs-tabs-headers {
    overflow-x: auto;
    display: flex;
    position: relative;
    border-bottom: var(--wcs-tabs-headers-border-bottom);
}

.wcs-tab-header {
    width: var(--wcs-tabs-width);
    padding: var(--wcs-tabs-padding-vertical) var(--wcs-tabs-padding-horizontal);
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;

    span {
        text-align: center;
        color: var(--wcs-text-disabled);
        font-size: 1rem;
        font-weight: 400;
    }

    &:focus,
    &:hover {
        span {
            color: var(--wcs-primary);
        }

        background: var(--wcs-light)
    }
}

.wcs-ink-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    border-radius: 4px;
    width: calc(var(--wcs-tabs-width) + 2 * var(--wcs-tabs-padding-horizontal));
    transition: .5s cubic-bezier(.35, 0, .25, 1);
    background-color: var(--wcs-primary);
}

.active {
    span {
        font-weight: 500;
        color: var(--wcs-primary);
        position: relative;
    }
}
