@import '../../style/focus-outline.scss';

@keyframes spin-animation-up {
    0% {
        transform: translateY(0);
        transform-origin: center;
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: translateY(30px);
        transform-origin: center;
        opacity: 1;
    }
}

@keyframes spin-animation-down {
    0% {
        transform: translateY(0);
        transform-origin: center;
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: translateY(-30px);
        transform-origin: center;
        opacity: 1;
    }
}

:host {
    --wcs-input-icon-color: var(--wcs-text-medium);
    --wcs-internal-input-border-radius: calc(var(--wcs-border-radius) * 10); // 80 px
    --wcs-internal-input-border-width: 2px;
    display: flex;

    .counter {
        box-sizing: border-box;
        height: var(--wcs-counter-host-height);
        font-family: var(--wcs-font-sans-serif);
        font-size: var(--wcs-counter-font-size);
        font-weight: bold;
        display: flex;
        align-items: center;
        padding: var(--wcs-counter-host-padding);
        width: fit-content;
        overflow: hidden;
        border-radius: var(--wcs-internal-input-border-radius);
        background-color: var(--wcs-light);
        border: var(--wcs-internal-input-border-width) solid var(--wcs-light);
        background-clip: padding-box;

        &:has(.current-value:focus-visible) {
            @include focus-outline($border-radius: 999rem);
        }

        @supports not selector(&:has(.current-value:focus-visible)){
            &:focus-within {
                @include focus-outline($border-radius: 999rem);
            }
        }
    }

    .counter-container {
        height: var(--wcs-counter-host-height);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 calc(2* var(--wcs-base-margin));
        position: relative;
    }

    .outliers {
        position: absolute;
    }

    #outlier-down {
        top: calc((var(--wcs-counter-host-height) / 2) * -1);
    }

    #outlier-up {
        bottom: calc((var(--wcs-counter-host-height) / 2) * -1);
    }

    .current-value {
        outline: none;
    }

    .animate-up {
        animation: spin-animation-up 0.175s ease-in-out;
    }

    .animate-down {
        animation: spin-animation-down 0.175s ease-in-out;
    }

    [hidden] {
        opacity: 0;
    }
}

:host([size='m']) { // Default
    --wcs-counter-host-padding: 4px;
    --wcs-counter-host-height: var(--wcs-size-m);
    --wcs-counter-font-size: 1rem;
}

:host([size='l']) {
    --wcs-counter-host-padding: 8px;
    --wcs-counter-host-height: var(--wcs-size-l);
    --wcs-counter-font-size: 1.0625rem;
}

:host([disabled]) {
    cursor: not-allowed;
    color: var(--wcs-text-medium);
}
