:host {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 16px;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 24px;
        border-radius: 7px;
        font-weight: 500;
        // TODO replace px to rem
        font-size: 16px;
        font-family: var(--wcs-font-sans-serif);
        color: var(--wcs-primary);
        background-color: var(--wcs-light);
        border: none;
        @media (forced-colors: active) {
            // for WHCM
            border: 1px solid ButtonBorder;
        }
        &:focus-visible {
            outline: 2px solid var(--wcs-primary);
        }
    }

    .header-action {
        display: flex;
        align-items: center;
        user-select: none;

        .arrow {
            fill: var(--wcs-primary);
        }
    }

    .content {
        display: none;
    }

}

:host([open]) {
    margin-bottom: 0;

    .content {
        display: block;
    }

    &:host([group-content-with-header]) {
        .header {
            border-radius: 7px 7px 0 0;
            padding-bottom: 0;
        }

        .content {
            border-radius: 0 0 7px 7px;
            margin-bottom: 14px;
            background-color: var(--wcs-light);
        }
    }

    &:host([highlight]) {
        .header {
            background-color: var(--wcs-primary);
            color: var(--wcs-light);
        }

        .arrow {
            fill: var(--wcs-light);
        }

        &:host([group-content-with-header]) {
            .content {
                background-color: var(--wcs-primary);
                color: var(--wcs-light);
            }
        }
    }
}
