@import '../../style/focus-outline.scss';

:host {
    box-sizing: border-box;

    --wcs-select-native-border-radius: var(--wcs-border-radius);
    --wcs-select-native-background-color: var(--wcs-light);
    --wcs-select-native-outline-color: var(--wcs-primary);

    --wcs-select-native-value-color: var(--wcs-primary);
    --wcs-select-native-value-font-weight: 500;
    --wcs-select-native-value-font-style: normal;

    --wcs-select-native-placeholder-color: var(--wcs-text-medium);
    --wcs-select-native-placeholder-font-weight: 400;
    --wcs-select-native-placeholder-font-style: italic;

    --wcs-select-native-option-color: black;
    --wcs-select-native-option-font-style: normal;

    --wcs-select-native-option-selected-color: white;
}

::slotted(select) {
    box-sizing: border-box;
    -moz-appearance:none !important;
    -webkit-appearance: none !important;
    appearance: none !important;

    background-color: var(--wcs-select-native-background-color);

    color: var(--wcs-select-native-value-color);

    border-radius: var(--wcs-select-native-border-radius);
    border: none;

    outline: none;
    user-select: none;
    cursor: pointer;
    line-height: 1.5;
    font-size: 1rem;

    max-width: 100%;
    flex-grow: 1;
    padding-right: calc((var(--wcs-base-margin) * 2) + 24px);
    padding-left: calc(var(--wcs-base-margin) * 2);
}

::slotted(select:disabled) {
    cursor: not-allowed;
    color: var(--wcs-text-disabled);
}

::slotted(select[aria-invalid=true]) {
    --wcs-select-native-outline-color: var(--wcs-red) !important;
    outline: solid 2px var(--wcs-select-native-outline-color);
}

:host([data-disabled]) {
    .select-wrapper {
        .arrow-container {
            .arrow {
                fill: var(--wcs-text-medium);
            }
        }
    }
}

:host([data-size=m])  {
    ::slotted(select) {
        height: var(--wcs-size-m);
    }
}

:host([data-size=l]) {
    ::slotted(select) {
        height: var(--wcs-size-l);
    }
}

::slotted(select:focus-visible) {
    @include focus-outline(var(--wcs-select-native-outline-color), var(--wcs-select-native-border-radius), $outline-offset: 0);
    border-radius: var(--wcs-select-native-border-radius);
}

.select-wrapper {
    position: relative;

    display: flex;
    flex-wrap: nowrap;
}

// So the arrow on the right doesn't shrink when text overflows.
svg {
    flex-shrink: 0;
}

.arrow {
    fill: var(--wcs-select-native-value-color);
}

.arrow-container {
    pointer-events: none;
    display: flex;
    align-items: center;
    vertical-align: center;

    position: absolute;
    top: 0;
    bottom: 0;
    right: calc(var(--wcs-padding) - 1px);
    margin: auto 0;
}
