:host {
    display: block;

    .item-container:not([data-open]) {
        display: none;
    }

    .label:after {
        font-family: icons;
        padding-left: var(--wcs-base-margin);
        font-size: 0.6rem;
        content: "\f107";
        line-height: 1;
        box-sizing: border-box;
    }
    .label-container{
        cursor: pointer;
        user-select: none;
        display: flex;
        align-items: center;
    }

    .label-container[data-open]:after {
        position: absolute;
        left: calc(calc(calc(100% / 2) + calc(var(--wcs-com-content-max-width) / 8)) - calc(1.125rem / 2));
        z-index: 2;
        display: block;
        width: 1.125rem;
        height: 1.125rem;
        content: "";
        background-color: var(--wcs-primary);
        transform: rotate(45deg);
    }

    .item-container[data-open] {
        position: absolute;
        left: calc(calc(100% / 2) + calc(var(--wcs-com-content-max-width) / 8));
        top: 0;
        right: 0;
        padding: 50px 0 50px 50px;
        background-blend-mode: multiply;
        background-color: rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        height: calc(100%);
        display: flex;
        flex-direction: column;
        align-items: start;

        ::slotted(a:not(:first-child)) {
            margin-top: 24px;
        }

        ::slotted(a):after {
            font-family: icons;
            padding-left: var(--wcs-base-margin);
            font-size: 0.6rem;
            content: "\f107";
            line-height: 1;
            box-sizing: border-box;
        }

        ::slotted(a) {
            cursor: pointer;
            text-decoration: none;
            font-size: 16px;
            color: var(--wcs-white);
        }
    }
}
