@import '../../style/focus-outline.scss';
@import '../com-nav/com-nav-focus.scss';
@import '../../style/breakpoints.scss';

:host{
    display: block;
    height: fit-content;

    button {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        font: inherit;
        color: inherit;
        cursor: initial;
    }

    .label-container {
        margin: 0;
        font-size: 16px;
        font-weight: 500;

        display: block;
        color: var(--wcs-gray);

        .arrow-container {
            display: none;
        }

        .arrow-icon {
            display: none;
        }
    }

    .item-container {
        display: flex;
        flex-direction: column;
        gap: calc(1.5 * var(--wcs-base-margin));
        margin-left: calc(3 * var(--wcs-base-margin));
        margin-top: calc(1.5 * var(--wcs-base-margin));
        
        ::slotted(wcs-com-nav-item) {
            color: var(--wcs-gray);
            font-weight: 400;
        }
    }
}

@include for-tablet-portrait-up {
    :host {
        padding-bottom: unset;

        .item-container:not([data-open]) {
            display: none;
        }

        button {
            cursor: pointer;
        }

        .label-container {
            display: flex;
            align-items: center;
            gap: var(--wcs-base-margin);

            font-weight: 400;

            cursor: pointer;
            user-select: none;
            display: flex;
            align-items: center;
            padding-left: unset;
            color: var(--wcs-white);

            .arrow-icon {
                display: inline-block;
                font-family: icons;
                font-size: 0.6rem;
                line-height: 1;
                box-sizing: border-box;
            }
        
            .arrow-container {
                display: unset;
            }
        }

        .label-container:focus-visible   {
            @include focus-outline(var(--wcs-white), 5px, 0.1rem);
        }

        @supports not selector(.label-container:focus-visible) {
            .label-container:focus-within {
                @include focus-outline(var(--wcs-white), 5px, 0.1rem);
            }
        }

        button.label-container[aria-expanded="true"]:after {
            position: absolute;
            left: calc(calc(calc(100% / 2) + calc(var(--wcs-com-content-max-width) / 8)) - calc(1.125rem / 2));
            z-index: 2;
            display: block;
            width: 1.125rem;
            height: 1.125rem;
            content: "";
            background-color: var(--wcs-primary);
            transform: rotate(45deg);
        }

        .item-container[data-open] {
            position: absolute;
            left: calc(calc(100% / 2) + calc(var(--wcs-com-content-max-width) / 8));
            top: 0;
            right: 0;
            padding: 50px 0 50px 50px;
            background-blend-mode: multiply;
            background-color: rgba(0, 0, 0, 0.15);
            box-sizing: border-box;
            height: calc(100%);

            margin-left: unset;
            margin-top: unset;

            display: flex;
            flex-direction: column;
            gap: 24px;
            align-items: start;

            ::slotted(wcs-com-nav-item) {
                color: var(--wcs-white);
                font-weight: 400;
            }

            ::slotted(wcs-com-nav-item:focus-within) {
                @include com-nav-submenu-item-desktop-focus-outline;
            }
        }
    }
}
