:host {
    display: flex;

    .size-s {
        font-size: 18px;
    }

    .size-m {
        font-size: 24px;
    }

    .size-l {
        font-size: 36px;
    }

    .size-xl {
        font-size: 48px;
    }
}
