@import '../../style/focus-outline.scss';

:host {
    display: block;
    border-style: solid none none;
    border-width: 1px;
    border-color: var(--wcs-grid-pagination-border-color);
    margin-top: var(--wcs-grid-pagination-margin-top);


    --wcs-grid-pagination-color: var(--wcs-semantic-color-text-primary);
    --wcs-grid-pagination-border-color: transparent;

    --wcs-grid-pagination-counter-gap: var(--wcs-semantic-spacing-small);
    --wcs-grid-pagination-margin-top: var(--wcs-semantic-spacing-large);

    --wcs-grid-pagination-arrow-color-inactive: unset;
    --wcs-grid-pagination-arrow-color-active: unset;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    color: var(--wcs-grid-pagination-color);
    align-items: center;
}

.available-page-sizes {
    width: auto;
}

.page-management, .page-size, .items-count {
    display: flex;
    align-items: center;
}

.page-management {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination-arrow {
    display: flex;
}

.pagination-counter {
    padding: 0 var(--wcs-grid-pagination-counter-gap);
}

.items-count span:focus {
    @include focus-outline();
}
