<h3>Basic</h3>
<wcs-card>
    <wcs-card-body>
        <wcs-spinner class="wcs-primary"></wcs-spinner>
        <wcs-spinner class="wcs-secondary"></wcs-spinner>
        <wcs-spinner class="wcs-success"></wcs-spinner>
        <wcs-spinner class="wcs-warning"></wcs-spinner>
        <wcs-spinner class="wcs-danger"></wcs-spinner>
        <wcs-spinner class="wcs-info"></wcs-spinner>
        <wcs-spinner class="wcs-dark"></wcs-spinner>
        <wcs-spinner class="wcs-light"></wcs-spinner>
    </wcs-card-body>
</wcs-card>
<h3>Growing spinner</h3>
<wcs-card>
    <wcs-card-body>
        <wcs-spinner mode="growing" class="wcs-primary"></wcs-spinner>
        <wcs-spinner mode="growing" class="wcs-secondary"></wcs-spinner>
        <wcs-spinner mode="growing" class="wcs-success"></wcs-spinner>
        <wcs-spinner mode="growing" class="wcs-warning"></wcs-spinner>
        <wcs-spinner mode="growing" class="wcs-danger"></wcs-spinner>
        <wcs-spinner mode="growing" class="wcs-info"></wcs-spinner>
        <wcs-spinner mode="growing" class="wcs-dark"></wcs-spinner>
        <wcs-spinner mode="growing" class="wcs-light"></wcs-spinner>
    </wcs-card-body>
</wcs-card>

<style>
wcs-spinner {
    margin: 8px;
}
</style>
