nav.wcs-breadcrumb-container {
    slot[name="hidden-items"] {
        display: none;
    }
    &.show-hidden-items {
        slot[name="hidden-items"] {
            display: contents;
        }
    }

    div[role="list"] {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;

        ::slotted(wcs-breadcrumb-item) {
            margin-right: var(--wcs-base-margin);
        }

        ::slotted(wcs-breadcrumb-item:last-child) {
            margin-right: 0;
        }

        .item-not-slotted {
            display: flex;
            align-items: center;
            margin-right: var(--wcs-base-margin);

            wcs-button[size="s"] {
                --wcs-button-min-width: 24px;
                --wcs-button-min-height: 20px;
                --wcs-button-border-radius: 2px;
                transform: translateY(2px);
            }

            .item-icon {
                margin-left: 7px;
                font-family: "icons";
                font-size: 0.5rem;
                color: var(--wcs-primary);
                transform: translateY(1px);
            }
        }
    }
}
