:host {
    font-weight: 500;
    margin-bottom: 8px;
}

:host([required]) > label::after {
    font-weight: 500;
    color: var(--wcs-red);
    content: ' *';
}

label {
    display: inline-block;

    // Add margin before tooltip icon
    ::slotted(wcs-mat-icon) {
        display: inline;
        vertical-align: middle;
        margin-left: calc(var(--wcs-base-margin) / 2);
    }
}
