<h3>Basic</h3>
<wcs-card>
    <wcs-card-body>
        <wcs-select placeholder="Le select">
            <wcs-select-option value="1">One</wcs-select-option>
            <wcs-select-option value="2">Two</wcs-select-option>
            <wcs-select-option value="3">Three</wcs-select-option>
        </wcs-select>
    </wcs-card-body>
</wcs-card>

<h3>With disabled option</h3>
<wcs-card>
    <wcs-card-body>
        <wcs-select placeholder="Le select">
            <wcs-select-option value="1" disabled="true">One</wcs-select-option>
            <wcs-select-option value="2">Two</wcs-select-option>
            <wcs-select-option value="3">Three</wcs-select-option>
        </wcs-select>
    </wcs-card-body>
</wcs-card>

<h3>Disabled</h3>
<wcs-card>
    <wcs-card-body>
        <wcs-select placeholder="Le select" disabled>
            <wcs-select-option value="1">One</wcs-select-option>
            <wcs-select-option value="2">Two</wcs-select-option>
            <wcs-select-option value="3">Three</wcs-select-option>
        </wcs-select>
    </wcs-card-body>
</wcs-card>

<h3>Multiple</h3>
<wcs-card>
    <wcs-card-body>
        <wcs-select placeholder="Le select" multiple>
            <wcs-select-option value="1">One</wcs-select-option>
            <wcs-select-option value="2">Two</wcs-select-option>
            <wcs-select-option value="3">Three</wcs-select-option>
        </wcs-select>
    </wcs-card-body>
</wcs-card>

<style>
    wcs-select {
        max-width: 250px;
    }

</style>
