@import "../../style/wcs.colors.scss";

.wcs-select-text {
    padding: 0.65625rem 1.25rem;
    font-weight: 500;
    cursor: pointer;
    // FIXME: Replace with css variable
    color: $text-medium;
    transition: color 175ms ease-in-out;
}

.wcs-select-content {
    display: flex;
    align-items: center;
    padding-right: var(--wcs-text-padding);
    // FIXME: Replace with css variable
    background-color: $light;
    border-radius: var(--wcs-border-radius);
    border: transparent solid 1px;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;

    &:hover {
        border: $primary solid 1px;
    }
}

.wcs-select-options {
    display: none;
    position: absolute;
    z-index: 1;
    padding: var(--wcs-padding);
    margin: 0;

    max-height: 22.5rem;
    overflow-y: auto;

    background-color: white;
    // FIXME: Replace with css variable
    color: $text-medium;
    border-left: $text-light solid 1px;
    border-right: $text-light solid 1px;
    border-bottom: $text-light solid 1px;

    border-bottom-right-radius: var(--wcs-border-radius);
    border-bottom-left-radius: var(--wcs-border-radius);
}

:host {
    display: block;
    position: relative;
    outline: none;
    user-select: none;
}

:host(.expanded) {
    .wcs-select-options {
        display: block;
    }

    .wcs-select-content {
        // FIXME: Replace with css variables
        border-top: $text-light solid 1px;
        border-right: $text-light solid 1px;
        border-left: $text-light solid 1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: solid 1px transparent;
    }
}

:host(:not(.expanded):focus) {
    .wcs-select-content {
        // FIXME: replace with css variables
        border: $primary solid 1px;
    }
}

:host([value]) {
    .wcs-select-text {
        // FIXME: Replace with css variable
        color: $primary;
    }
}

:host([disabled]) {
    .wcs-select-content,
    .wcs-select-text {
        cursor: default;
        pointer-events: none;
    }

    .wcs-select-text {
        // FIXME: Replace with css variable
        color: $text-disabled;
    }

    .arrow {
        // FIXME: Replace with css variable
        fill: $text-medium;
    }
}