@import '../../style/wcs.elevation.scss';
@import '../../style/wcs.colors.scss';

:host {
  @include wcs-elevation(2);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $white;
  background-clip: border-box;
  border-radius: var(--wcs-border-radius);
}
