@import '../../style/wcs.global.scss';

wcs-select-option {
    display: block;
}

.wcs-selection-option-container {
    display: block;

    &:hover {
        color: $primary;
    }

    cursor: pointer;
}
