:host {
    --wcs-hint-font-size-default: 0.75rem;
    --wcs-hint-font-size-small: 0.75rem;
    --wcs-hint-font-weight: var(--wcs-semantic-font-weight-regular);
    --wcs-hint-color: var(--wcs-semantic-color-text-primary);

    font-size: var(--wcs-hint-font-size-default);
}

:host([small]) {
    font-size: var(--wcs-hint-font-size-small);
    font-weight: var(--wcs-hint-font-weight);
    color: var(--wcs-hint-color)
}
