:host{
    display: flex;
    flex-direction: column;
    margin-top: var(--wcs-base-margin);
    margin-bottom: calc(var(--wcs-base-margin) * 2);
}
::slotted([slot=header]) {
    font-size: 1rem;
    font-weight: var(--wcs-font-weight-form-value);
    color: var(--wcs-gray);
}

::slotted([slot=content]) {
    font-size: 1rem;
    font-weight: 400;
    color: var(--wcs-gray-light);
}
