@import '../../style/wcs.elevation.scss';

header {
    @include wcs-elevation(4);
    display: flex;
    align-items: center;
    background: var(--wcs-gray);
    padding: 8px 8px 8px 16px;
    height: calc(64px - 16px);
    position: sticky;
    top: 0;
    z-index: 1;
}

::slotted(img) {
    width: 70px;
    height: 36.8px;
    margin-right: 16px;
}

::slotted(h1) {
    color: var(--wcs-white);
    margin: 0;
    font-weight: 500;
    font-size: 1.5rem;
}
