.wcs-primary {
    --wcs-base: var(--wcs-primary);
    --wcs-contrast: var(--wcs-white);
}

.wcs-secondary {
    --wcs-base: var(--wcs-gray-light);
    --wcs-contrast: var(--wcs-white);
}

.wcs-success {
    --wcs-base: var(--wcs-green);
    --wcs-contrast: var(--wcs-gray-darker);
}

.wcs-warning {
    --wcs-base: var(--wcs-yellow);
    --wcs-contrast: var(--wcs-gray-darker);
}

.wcs-info {
    --wcs-base: var(--wcs-cyan);
    --wcs-contrast: var(--wcs-white);
}

.wcs-danger {
    --wcs-base: var(--wcs-red);
    --wcs-contrast: var(--wcs-white);
}

.wcs-dark {
    --wcs-base: var(--wcs-gray-dark);
    --wcs-contrast: var(--wcs-white);
}

.wcs-light {
    --wcs-base: var(--wcs-light);
    --wcs-contrast: var(--wcs-gray-darker);
}
