// TODO: refactor colors.scss at the end of migration
body {
    .wcs-secondary {
        --wcs-semantic-color-background-action-primary-default: var(--wcs-gray-light);
        --wcs-semantic-color-background-surface-brand : var(--wcs-gray-light);

        --wcs-semantic-color-foreground-action-primary-default: var(--wcs-white);
        --wcs-semantic-color-foreground-action-secondary-default: var(--wcs-gray-light);
        --wcs-semantic-color-foreground-action-tertiary-default: var(--wcs-gray-light);

        --wcs-semantic-color-border-action-secondary-default: var(--wcs-gray-light);

        --wcs-semantic-color-ripple-action-primary: var(--wcs-white);
        --wcs-semantic-color-ripple-action-secondary: var(--wcs-gray-light);
        --wcs-semantic-color-ripple-action-tertiary: var(--wcs-gray-light);
    }

    .wcs-success {
        --wcs-semantic-color-background-action-primary-default: var(--wcs-green);
        --wcs-semantic-color-background-surface-brand : var(--wcs-green);

        --wcs-semantic-color-foreground-action-primary-default: var(--wcs-gray-darker);
        --wcs-semantic-color-foreground-action-secondary-default: var(--wcs-green);
        --wcs-semantic-color-foreground-action-tertiary-default: var(--wcs-green);

        --wcs-semantic-color-border-action-secondary-default: var(--wcs-green);

        --wcs-semantic-color-ripple-action-primary: var(--wcs-gray-darker);
        --wcs-semantic-color-ripple-action-secondary: var(--wcs-green);
        --wcs-semantic-color-ripple-action-tertiary: var(--wcs-green);;
    }

    .wcs-warning {
        --wcs-semantic-color-background-action-primary-default: var(--wcs-yellow);
        --wcs-semantic-color-background-surface-brand : var(--wcs-yellow);

        --wcs-semantic-color-foreground-action-primary-default: var(--wcs-gray-darker);
        --wcs-semantic-color-foreground-action-secondary-default: var(--wcs-yellow);
        --wcs-semantic-color-foreground-action-tertiary-default: var(--wcs-yellow);

        --wcs-semantic-color-border-action-secondary-default: var(--wcs-yellow);

        --wcs-semantic-color-ripple-action-primary: var(--wcs-gray-darker);
        --wcs-semantic-color-ripple-action-secondary: var(--wcs-yellow);
        --wcs-semantic-color-ripple-action-tertiary: var(--wcs-yellow);
    }

    .wcs-info {
        --wcs-semantic-color-background-action-primary-default: var(--wcs-cyan);
        --wcs-semantic-color-background-surface-brand : var(--wcs-cyan);

        --wcs-semantic-color-foreground-action-primary-default: var(--wcs-white);
        --wcs-semantic-color-foreground-action-secondary-default: var(--wcs-cyan);
        --wcs-semantic-color-foreground-action-tertiary-default: var(--wcs-cyan);

        --wcs-semantic-color-border-action-secondary-default: var(--wcs-cyan);

        --wcs-semantic-color-ripple-action-primary: var(--wcs-white);
        --wcs-semantic-color-ripple-action-secondary: var(--wcs-cyan);
        --wcs-semantic-color-ripple-action-tertiary: var(--wcs-cyan);
    }

    .wcs-danger {
        --wcs-semantic-color-background-action-primary-default: var(--wcs-red);
        --wcs-semantic-color-background-surface-brand : var(--wcs-red);

        --wcs-semantic-color-foreground-action-primary-default: var(--wcs-white);
        --wcs-semantic-color-foreground-action-secondary-default: var(--wcs-red);
        --wcs-semantic-color-foreground-action-tertiary-default: var(--wcs-red);

        --wcs-semantic-color-border-action-secondary-default: var(--wcs-red);

        --wcs-semantic-color-ripple-action-primary: var(--wcs-white);
        --wcs-semantic-color-ripple-action-secondary: var(--wcs-red);
        --wcs-semantic-color-ripple-action-tertiary: var(--wcs-red);
    }

    .wcs-dark {
        --wcs-semantic-color-background-action-primary-default: var(--wcs-gray-dark);
        --wcs-semantic-color-background-surface-brand : var(--wcs-gray-dark);

        --wcs-semantic-color-foreground-action-primary-default: var(--wcs-white);
        --wcs-semantic-color-foreground-action-secondary-default: var(--wcs-gray-dark);
        --wcs-semantic-color-foreground-action-tertiary-default: var(--wcs-gray-dark);

        --wcs-semantic-color-border-action-secondary-default: var(--wcs-gray-dark);

        --wcs-semantic-color-ripple-action-primary: var(--wcs-white);
        --wcs-semantic-color-ripple-action-secondary: var(--wcs-gray-dark);
        --wcs-semantic-color-ripple-action-tertiary: var(--wcs-gray-dark);
    }

    .wcs-light {
        --wcs-semantic-color-background-action-primary-default: var(--wcs-light);
        --wcs-semantic-color-background-surface-brand : var(--wcs-light);

        --wcs-semantic-color-foreground-action-primary-default: var(--wcs-gray-darker);
        --wcs-semantic-color-foreground-action-secondary-default: var(--wcs-light);
        --wcs-semantic-color-foreground-action-tertiary-default: var(--wcs-light);

        --wcs-semantic-color-border-action-secondary-default: var(--wcs-light);

        --wcs-semantic-color-ripple-action-primary: var(--wcs-gray-darker);
        --wcs-semantic-color-ripple-action-secondary: var(--wcs-light);
        --wcs-semantic-color-ripple-action-tertiary: var(--wcs-light);
    }
}
