
@mixin focus-outline
    ( $outline-color: var(--wcs-semantic-color-primary)
    , $border-radius: 0.1rem
    , $outline-offset: 4px
    , $border-width: 2px
    ) {
    outline: $border-width dashed $outline-color;
    outline-offset: $outline-offset;
    border-radius: $border-radius;
}
