
@mixin focus-outline
    ( $border-radius: 0.1rem
    , $outline-offset: 0.1rem
    ) {
    outline: 0.2rem dashed var(--wcs-primary);
    outline-offset: $outline-offset;
    border-radius: $border-radius;
}