
@mixin focus-outline
    ( $outline-color: var(--wcs-primary)
    , $border-radius: 0.1rem
    , $outline-offset: 4px
    ) {
    outline: 2px dashed $outline-color;
    outline-offset: $outline-offset;
    border-radius: $border-radius;
}
