@import 'wcs.colors.scss';
@import 'wcs.fonts.scss';

body {
    --wcs-border-radius: 0.475rem;
    --wcs-padding: 1.25rem;
    --wcs-text-padding: 0.65625rem;
    --wcs-tabs-headers-border-bottom: 1px solid #ebebeb;
    @include font;
    font-weight: 400;
    font-family: var(--font-family-sans-serif)
}
