:root {
    --white: white;
    --light: #f2f2f2;
    --gray-light: #4d4f53;
    --gray: #333;
    --gray-dark: #343a40;
    --gray-darker: #212529;
    --black: black;

    --text-light: #d7d7d7;
    --text-disabled: #b9b9b9;
    --text-medium: #747678;

    --blue: #0088CE;
    --purple: #6e1e78;
    --pink: #a1006b;
    --red: #cd0037;
    --orange: #e05206;
    --yellow: #ffb612;
    --green: #82be00;
    --teal: #d2e100;
    --cyan: #009aa6;

    --primary: var(--blue);
}

.primary {
    --base: var(--primary);
    --contrast: var(--white);
}

.secondary {
    --base: var(--gray-light);
    --contrast: var(--white);
}

.success {
    --base: var(--green);
    --contrast: var(--gray-darker);
}

.warning {
    --base: var(--yellow);
    --contrast: var(--gray-darker);
}

.info {
    --base: var(--cyan);
    --contrast: var(--white);
}

.danger {
    --base: var(--red);
    --contrast: var(--white);
}

.dark {
    --base: var(--gray-dark);
    --contrast: var(--white);
}

.light {
    --base: var(--light);
    --contrast: var(--gray-darker);
}
