:host {
    --wcs-grid-column-border-left: solid 1px var(--wcs-text-light);

    display: contents;

    th {
        color: var(--wcs-gray-dark);
        background-color: var(--wcs-light);
        border-left: var(--wcs-grid-column-border-left);
        padding: calc(var(--wcs-padding) / 2) var(--wcs-padding);
        text-align: left;

        .grid-column-th-content {
            display: inline-flex;
            flex-direction: row;

            span {
                user-select: none;
            }
        }
    }

    .pointer {
        cursor: pointer;
    }
}

:host([sort-order="asc"]) {
    img {
        transform: scaleY(1);
    }
}

:host([sort-order="desc"]) {
    img {
        transform: scaleY(-1);
    }
}

:host([sort-order="none"]) {
    img {
        display: none;
    }

    th:hover {
        img {
            display: inline-block;
        }
    }
}

:host([hidden]) {
    display: none !important;
}
