.arrow-group {
    --wcs-grid-header-sort-arrow-color-default: var(--wcs-semantic-color-foreground-action-primary-disabled);
    --wcs-grid-header-sort-arrow-color-active: var(--wcs-semantic-color-primary);

    transform-origin: 50% 51%;
    transition: transform 175ms ease-in-out;
}

.arrow {
    transition: fill 175ms ease-in-out;
    fill: var(--wcs-grid-header-sort-arrow-color-default, var(--wcs-text-light));
}

.asc {
    transform: scaleY(1) translateY(-6px);
}

.desc {
    transform: scaleY(-1) translateY(-6px);
}

.active {
    fill: var(--wcs-grid-header-sort-arrow-color-active, var(--wcs-primary));

}
