.token-migration.sncf-voyageurs wcs-switch {
    --wcs-switch-dot-color-final: var(--wcs-primitive-color-vert-300);
}

.token-migration.sncf-voyageurs wcs-footer {
    --wcs-footer-background-color: var(--wcs-primitive-color-vert-500);
}

.token-migration.sncf-voyageurs wcs-galactic {
    --wcs-galactic-background-color: var(--wcs-primitive-color-vert-600);
}
