.token-migration.sncf-voyageurs wcs-switch {
    --wcs-switch-dot-color-final: var(--wcs-primitive-color-vert-300);
}

.token-migration.sncf-voyageurs wcs-footer {
    --wcs-footer-background-color: var(--wcs-primitive-color-vert-500);
}

.token-migration.sncf-voyageurs wcs-galactic {
    --wcs-galactic-background-color: var(--wcs-primitive-color-vert-600);
}

.token-migration.sncf-voyageurs wcs-grid {
    --wcs-grid-highlight-color: #d3ffcf;
    --wcs-grid-row-even-background-color: #e7fce5;
}
