.token-migration.sncf-reseau wcs-badge {
    --wcs-badge-background-color: var(--wcs-semantic-color-background-surface-brand-default);
}

.token-migration.sncf-reseau wcs-footer {
    --wcs-footer-background-color: var(--wcs-primitive-color-neutral-0);
    --wcs-footer-text-color: var(--wcs-semantic-color-text-primary);
    --wcs-footer-link-text-color: var(--wcs-semantic-color-text-primary);
    --wcs-footer-link-text-color-hover: var(--wcs-semantic-color-text-primary);
}
