
.wcs-checkmark {
    transition: background-color 225ms cubic-bezier(.17, .84, .44, 1), color 225ms cubic-bezier(.17, .84, .44, 1);
}

/* Customize the label (the wcs-container) */
.wcs-container {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    user-select: none;
    font-weight: 500;
}

/* Hide the browser's default checkbox */
.wcs-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.wcs-container:hover, input:focus {
    .wcs-checkmark {
        border-color: var(--primary);
    }

    .text {
        color: var(--primary);
    }
}

/* Create a custom checkbox */
.wcs-checkmark {
    width: 1.125rem;
    height: 1.125rem;
    border: 2px solid #b9b9b9;
    border-radius: 3px;
}

.indeterminate {
    background: var(--primary);
    border-color: var(--primary);
}

/* .indeterminate:after {
    background: $white;
    display: block;
    border: solid 12px red;
    content: "";
} */


/* When the checkbox is checked, add a blue background */
.wcs-container input:checked~.wcs-checkmark {
    background-color: var(--primary);
    border-color: var(--primary);
}

/* Create the wcs-checkmark/indicator (hidden when not checked) */
.wcs-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the wcs-checkmark when checked */
.wcs-container input:checked~.wcs-checkmark:after {
    display: flex;
}

:host {
    display: flex;
}

/* Style the wcs-checkmark/indicator */
.wcs-container .wcs-checkmark:after {
    left: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.wcs-container input:checked~.text {
    color: var(--primary);
}

.text {
    color: var(--text-medium);
    margin-left: 6px;
    font-weight: 500;
    line-height: 1.375;
}
