:host{
    margin-bottom: 2px;
    display: block;
}
::slotted(*:first-of-type) {
    padding-right: 1.25rem !important;
    padding-left: 0 !important;
}
::slotted(*:last-of-type) {
    padding-right: 0 !important;
    padding-left: 1.25rem !important;
    border-right: none !important;
}
::slotted(*) {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    border-right: solid 2px var(--wcs-text-disabled);
}
