nav {
    z-index: 2;
    background: var(--wcs-primary);
    height: calc(100% - 2.5rem);
    padding: 1rem 1.5rem;
    position: sticky;
    top: 64px;
    overflow-y: auto;
}

::slotted(a) {
    color: white;
    text-decoration: none;
    display: block;
    padding: .25rem;
}
