:host {
    display: block;
    width: 100%;
    background-color: var(--wcs-gray);
    color: white;

    .end {
        margin-top: calc(2*var(--wcs-base-margin));
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        gap: var(--wcs-base-margin);

        .end-left, .end-right {
            display: flex;
            flex-wrap: wrap;
        }

        @media only screen and (max-width:1024px) {
            .end-left, .end-right {
                flex-direction: column;
            }
        }

        slot[name=end-left]::slotted(a) {
            color: var(--wcs-text-disabled);
            text-decoration: none;
            font-size: 14px;
            font-weight: 500;
            margin-right: 35px;
        }

        slot[name=end-left]::slotted(a:hover) {
            color: var(--wcs-white);
        }

    }

    .container {
        margin: 0 auto;
        max-width: var(--wcs-com-content-max-width);
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

}
