:host{
    padding: 0px var(--wcs-padding);
    height: 80px;
    background-color: var(--wcs-white);

    display: flex;
    align-items: center;
    justify-content: space-between;

    h1{
        font-weight: 400;
        line-height: 1.25;
        color: var(--wcs-gray);
    }
}
