:host {
    // region to be removed before migration to design tokens
    --wcs-action-bar-background-color: var(--wcs-white);
    --wcs-action-bar-gap: 4px;
    --wcs-action-bar-actions-gap: 8px;
    --wcs-action-bar-min-height: 80px;
    --wcs-action-bar-padding-horizontal: var(--wcs-padding);
    --wcs-action-bar-padding-vertical: var(--wcs-padding);

    --wcs-action-bar-title-font-weight: 400;
    --wcs-action-bar-title-color: var(--wcs-gray);

    --wcs-tabs-gutter-border-width: 1px;
    --wcs-tabs-gutter-background-color: var(--wcs-light);
    // endregion

    padding: 0 var(--wcs-action-bar-padding-horizontal);
    min-height: var(--wcs-action-bar-min-height);
    background-color: var(--wcs-action-bar-background-color);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--wcs-action-bar-gap);

    .title-actions {
        padding-top: var(--wcs-action-bar-padding-vertical);
        padding-bottom: var(--wcs-action-bar-padding-vertical);
        gap: var(--wcs-action-bar-actions-gap);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
    }

    .title-actions[data-has-tabs] {
        padding-bottom: 0;
    }

    h1 {
        font-weight: var(--wcs-action-bar-title-font-weight);
        line-height: 1.25;
        margin: 0;
        color: var(--wcs-action-bar-title-color);
    }
}

:host(.token-migration) {
    --wcs-action-bar-background-color: var(--wcs-semantic-color-background-surface-primary);
    --wcs-action-bar-gap: var(--wcs-semantic-spacing-small);
    --wcs-action-bar-actions-gap: var(--wcs-semantic-spacing-base);
    --wcs-action-bar-min-height: calc(10 * var(--wcs-semantic-size-base));
    --wcs-action-bar-padding-horizontal: var(--wcs-semantic-spacing-size-m-horizontal);
    --wcs-action-bar-padding-vertical: var(--wcs-semantic-spacing-size-m-vertical);

    --wcs-action-bar-title-font-weight: var(--wcs-semantic-font-weight-regular);
    --wcs-action-bar-title-color: inherit;

    --wcs-tabs-gutter-border-width: var(--wcs-semantic-border-width-default);
    --wcs-tabs-gutter-background-color: var(--wcs-semantic-color-border-surface);
}

:host([gutter]) {
    border-bottom: solid var(--wcs-tabs-gutter-border-width) var(--wcs-tabs-gutter-background-color);
}

::slotted([slot=actions]) {
    display: flex;
}
