:host {
    padding: 0 var(--wcs-padding);
    min-height: 81px;
    background-color: var(--wcs-white);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;


    .title-actions {
        padding-top: 16px;
        padding-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
    }

    .title-actions[data-has-tabs] {
        padding-bottom: 0;
    }

    h1 {
        font-weight: 400;
        line-height: 1.25;
        margin: 0;
        color: var(--wcs-gray);
    }
}

:host([gutter]) {
    border-bottom: solid 1px var(--wcs-light);
}

::slotted([slot=actions]) {
    display: flex;
}
