wcs-dropdown-item {
    display: block;
    padding: 0 var(--wcs-padding);
    font-weight: 500;
    cursor: pointer;
    height: 42px;
    line-height: 42px;
}

wcs-dropdown-item:hover, wcs-dropdown-item:focus {
    color: var(--wcs-primary);
    background-color: var(--wcs-light);
}
