:host {
    display: block;
    padding: calc(var(--wcs-padding) / 2) var(--wcs-padding);
    font-size: 0.75rem;
    text-transform: uppercase;
    color: var(--wcs-text-medium);
    white-space: nowrap;
}


