/*
 * This file is only used for documentation page
 */
body {
    margin: 0;
    overflow-y: hidden;
    background-color: #f2f2f2;
    display: grid;
    grid-template-areas:
        "header header"
        "nav content";
    grid-template-columns: min-content 1fr;
}

.component-navigation {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    justify-items: center;
}

.component-navigation > wcs-button {
    width: 100%;
}

wcs-header {
    grid-area: header;
}

wcs-nav {
    grid-area: nav;
}

div[slot=actions] > wcs-button > img {
    filter: invert(1);
    margin-left: 8px;
}

table {
    width: 100%;
    border-spacing: 0;
}

th {
    color: var(--wcs-gray-dark) !important;
    text-align: left;

}

td {
    border-top: solid 1px var(--wcs-gray);
}

main {
    grid-area: content;
    height: calc(100vh - 64px);
    box-sizing: border-box;
    overflow-y: scroll;
    padding: 16px;
}

main.content {
    max-width: 1000px;
}

h1:not(:first-of-type) {
    margin-top: 64px;
}

wcs-card {
    margin-bottom: 16px;
}

wcs-card-body > h3:first-child {
    margin-top: 0;
}

td {
    margin-right: 32px;
}

pre {
    overflow-x: auto;
    background: var(--wcs-light);
    border-radius: var(--wcs-border-radius);
    padding: 16px;
}

/* TODO: extract to own file */
/*
Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>
*/
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: white;
    color: black;
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
    color: #008000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
    color: #00f;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
    color: #a31515;
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
    color: #2b91af;
}

.hljs-doctag {
    color: #808080;
}

.hljs-attr {
    color: #f00;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
    color: #00b0e8;
}


.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.normal-padding {
    padding: var(--wcs-padding);
}

@font-face {
    font-family: Avenir;
    src: url("../assets/fonts/avenir-lighter.woff");
    font-weight: 300;
}

@font-face {
    font-family: Avenir;
    src: url("../assets/fonts/avenir-book.woff");
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url("../assets/fonts/avenir-medium.woff");
    font-weight: 500;
}

@font-face {
    font-family: Avenir;
    src: url("../assets/fonts/avenir-black.woff");
    font-weight: 900;
}

@font-face {
    font-family: "icons";
    src: url("../assets/fonts/icons/icons.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/icons/icons.woff2") format("woff2"),
    url("../assets/fonts/icons/icons.woff") format("woff"),
    url("../assets/fonts/icons/icons.ttf") format("truetype"),
    url("../assets/fonts/icons/icons.svg#icons") format("svg");
}

@media screen and (max-width: 1200px) {
    body {
        grid-template-areas: "header" "content" "nav";
        grid-template-columns: 1fr;
    }

    main {
        height: calc(100vh - 64px - 86px);
    }

    wcs-nav {
        height: initial;
    }
}
