body {
    margin: 0;
    overflow-y: hidden;
    background-color: #f2f2f2;
}

table {
    width: 100%;
}

main {
    overflow-y: scroll;
    height: calc(100vh - 84px);
    padding: 0 100px;
}

h1:not(:first-of-type) {
    margin-top: 64px;
}

wcs-card {
    margin-bottom: 16px;
}

wcs-card-body > h3:first-child {
    margin-top: 0;
}

td {
    margin-right: 32px;
}

/*
Visual Studio-like style based on original C# coloring by Jason Diamond <jason@diamond.name>
*/
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: white;
    color: black;
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
    color: #008000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
    color: #00f;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-addition {
    color: #a31515;
}

.hljs-deletion,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
    color: #2b91af;
}

.hljs-doctag {
    color: #808080;
}

.hljs-attr {
    color: #f00;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
    color: #00b0e8;
}


.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.normal-padding {
    padding: var(--wcs-padding);
}
