:host {
    display: flex;
}

::slotted(wcs-select) {
    --wcs-select-border-radius: var(--wcs-border-radius) 0 0 var(--wcs-border-radius);
    --wcs-select-background-color: var(--wcs-gray-light);
    --wcs-select-value-color: var(--wcs-white);
    --wcs-select-placeholder-color: var(--wcs-white);
    --wcs-select-border-color: var(--wcs-gray-light);
    width: 148px;
}

::slotted(wcs-input) {
    --wcs-input-border-radius: 0 var(--wcs-border-radius) var(--wcs-border-radius) 0;
    +::slotted([slot=suffix]) {
        display: none;
    }
}

::slotted([slot=suffix]) {
    display: inline-flex;
    margin-left: calc(-1 * var(--wcs-border-radius));
    --wcs-button-border-radius: 0 var(--wcs-border-radius) var(--wcs-border-radius) 0;
}
