@import '../../style/breakpoints';

:host {
    // region to be removed before migration to design tokens
    --wcs-nav-background-color: var(--wcs-primary);
    --wcs-nav-width: 6.25rem;

    --wcs-nav-border-top-mobile: solid 1px #d8d8d8;
    --wcs-nav-height-mobile: 3.25rem;
    // endregion
}

:host(.token-migration) {
    --wcs-nav-background-color: var(--wcs-semantic-color-background-surface-brand);
    --wcs-nav-width: calc(12 * var(--wcs-semantic-size-base));

    --wcs-nav-border-top-mobile: none;
    --wcs-nav-border-top-color-mobile: transparent;
    --wcs-nav-height-mobile: calc(6 * var(--wcs-semantic-size-base));
}

nav {
    background-image: linear-gradient(0deg, var(--wcs-nav-background-color), var(--wcs-nav-background-color));
    display: flex;
    z-index: 1055;
    flex-direction: column;
    width: 6.25rem;
    height: 100%;

    div[role="list"] {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        @include for-tablet-landscape-down {
            flex-direction: row;
        }
    }

    @include for-tablet-landscape-down {
        flex-direction: row;
        border-top: var(--wcs-nav-border-top-mobile);
        bottom: 0;
        width: 100%;
        height: var(--wcs-nav-height-mobile);
    }
}

::slotted(wcs-nav-item) {
    @include for-tablet-landscape-down {
        flex: 1;
    }
}

// Place bottom items at the bottom
slot[name=bottom],
// Same for ff < 63
wcs-nav-item:not([slot=bottom]) + wcs-nav-item[slot=bottom] {
    @include for-desktop-up {
        display: block;
        margin-top: auto;
    }
}
