@import '../../style/focus-outline.scss';
@import '../com-nav/com-nav-focus.scss';
@import '../../style/breakpoints.scss';

:host {
    display: block;
    padding-bottom: var(--wcs-padding);

    button {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        font: inherit;
        color: inherit;
        cursor: pointer;
    }

    .menu-button {
        margin: 0;
        font-size: 16px;

        display: block;
        font-weight: 500;
    }

    .arrow-icon {
        display: none;
    }

    .arrow-container {
        display: none;
    }

    .label {
        text-transform: uppercase;
        font-size: 16px;
        cursor: unset;
        font-weight: 500;
        color: var(--wcs-gray);
        text-decoration: none;
    }

    .drawer {
        display: contents;
    }

    .drawer-container {
        display: contents;
    }
    .drawer-description {
        display: none;
    }

    .menu-items {
        display: flex;
        flex-direction: column;
        gap: 24px;

        ::slotted(wcs-com-nav-item) {
            color: var(--wcs-gray);
            font-weight: 500;
        }
    }
}

@include for-phone-only {
    :host {
        .menu-items {
            margin-top: calc(1.5 * var(--wcs-base-margin));
            margin-left: calc(3 * var(--wcs-base-margin));
            gap: calc(3 * var(--wcs-base-margin));
        }
    }
}

@include for-tablet-portrait-up {
    :host {
        height: 100%;
        padding-bottom: unset;

        .menu-button {
            display: flex;
            align-items: center;
            height: 100%;
            cursor: pointer;
            user-select: none;
            font-weight: unset;
            padding-left: unset;
        }

        .menu-button:focus-visible {
            @include focus-outline(var(--wcs-primary), 2px, 0.1rem);
        }

        @supports not selector(.menu-button:focus-visible) {
            @include focus-outline(var(--wcs-primary), 2px, 0.1rem);
        }

        .label {
            text-transform: unset;
            cursor: pointer;
        }

        .arrow-icon {
            display: inline-block;
            font-family: icons;
            font-size: 0.6rem;
            line-height: 1;
            box-sizing: border-box;
        }

        .arrow-container {
            display: unset;
            margin-left: var(--wcs-base-margin);
        }

        .arrow-icon:not([data-open]) {
            transform: rotate(90deg);
        }

        .arrow-icon[data-open] {
            transform: rotate(-90deg);
        }

        .drawer {
            display: none;
            position: absolute;
            top: 75px;
            z-index: 8888;
            left: 0;
            width: 100%;
            box-sizing: border-box;
            padding: 50px;
            background-color: var(--wcs-primary);
            color: var(--wcs-white);
        }

        .drawer-content {
            display: flex;
            justify-content: space-between;
            max-width: 62.5%;
            flex: 1;

            div:first-child {
                flex: 0.8;
            }

            div {
                max-width: 260px;
            }
        }

        .menu-items {
            padding: 0 80px 0 50px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            ::slotted(wcs-com-nav-item) {
                color: var(--wcs-white);
                font-weight: 400;
            }

            ::slotted(wcs-com-nav-item:focus-within) {
                @include com-nav-submenu-item-desktop-focus-outline;
            }
        }

        .drawer-container {
            display: flex;
            max-width: var(--wcs-com-content-max-width);
            margin: 0 auto;

            h3 {
                margin: 0 0 24px 0;
                font-size: 1.5rem;
                line-height: 1.25;
                font-weight: 400;
            }

            p {
                margin-top: 0;
                margin-bottom: 1rem;
                font-weight: 500;
                font-size: 1rem;
                line-height: 1.375;
            }
        }

        .drawer[data-open] {
            display: block;
        }
        .drawer-description {
            display: block;
        }
    }
}
