@import '../../style/focus-outline.scss';

:host {
    display: block;
    padding-bottom: var(--wcs-padding);

    .menu-button {
        display: block;
        font-weight: 500;
        padding-left: calc(3 * var(--wcs-base-margin));
    }

    .arrow-icon {
        display: none;
    }

    .arrow-container {
        display: none;
    }

    .label {
        text-transform: uppercase;
        font-size: 16px;
        cursor: unset;
        font-weight: 500;
        color: var(--wcs-gray);
        text-decoration: none;
    }

    .drawer {
        display: contents;
    }

    .drawer-container {
        display: contents;
    }
    .drawer-description {
        display: none;
    }
    .menu-items {
        ::slotted(a):after {
            font-family: icons;
            padding-left: var(--wcs-base-margin);
            font-size: 0.6rem;
            content: "\f107";
            line-height: 1;
            box-sizing: border-box;
        }

        ::slotted(a) {
            user-select: none;
            cursor: pointer;
            text-decoration: none;
            font-size: 16px;
            color: var(--wcs-gray);
            font-weight: 500;
            display: block;
            padding-top: calc(1.5 * var(--wcs-base-margin));
            padding-bottom: calc(1.5 * var(--wcs-base-margin));
            padding-left: calc(6 * var(--wcs-base-margin));
        }

        /**For mobile*/
        ::slotted(a:focus-visible){
            @include focus-outline(var(--wcs-primary), 2px, 0.1rem);
        }

        @supports not selector(::slotted(a:focus-visible)) {
            ::slotted(a:focus-within) {
                @include focus-outline(var(--wcs-primary), 2px, 0.1rem);
            }
        }
    }
}

@media screen and (min-width: 576px) {
    :host {
        height: 100%;
        padding-bottom: unset;

        .menu-button {
            display: flex;
            align-items: center;
            height: 100%;
            cursor: pointer;
            user-select: none;
            font-weight: unset;
            padding-left: unset;
        }

        .menu-button:focus-visible {
            @include focus-outline(var(--wcs-primary), 2px, 0.1rem);
        }

        @supports not selector(.menu-button:focus-visible) {
            @include focus-outline(var(--wcs-primary), 2px, 0.1rem);
        }

        .label {
            text-transform: unset;
            cursor: pointer;
        }

        .arrow-icon {
            display: inline-block;
            font-family: icons;
            font-size: 0.6rem;
            line-height: 1;
            box-sizing: border-box;
        }

        .arrow-container {
            display: unset;
            margin-left: var(--wcs-base-margin);
        }

        .arrow-icon:not([data-open]) {
            transform: rotate(90deg);
        }

        .arrow-icon[data-open] {
            transform: rotate(-90deg);
        }

        .drawer {
            display: none;
            position: absolute;
            top: 75px;
            z-index: 8888;
            left: 0;
            width: 100%;
            box-sizing: border-box;
            padding: 50px;
            background-color: var(--wcs-primary);
            color: var(--wcs-white);
        }

        .drawer-content {
            display: flex;
            justify-content: space-between;
            max-width: 62.5%;
            flex: 1;

            div:first-child {
                flex: 0.8;
            }

            div {
                max-width: 260px;
            }
        }

        .menu-items {
            padding: 0 80px 0 50px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            ::slotted(*:not(:first-child)) {
                margin-top: 24px;
            }

            ::slotted(a) {
                color: var(--wcs-white);
                font-weight: 400;
                display: unset;
                padding-top: unset;
                padding-bottom: unset;
                padding-left: unset;
            }

            ::slotted(a:focus-visible){
                @include focus-outline(var(--wcs-white), 2px, 0.1rem);
            }

            @supports not selector(::slotted(a:focus-visible)) {
                ::slotted(a:focus-within) {
                    @include focus-outline(var(--wcs-white), 2px, 0.1rem);
                }
            }
        }

        .drawer-container {
            display: flex;
            max-width: var(--wcs-com-content-max-width);
            margin: 0 auto;

            h3 {
                margin: 0 0 24px 0;
                font-size: 1.5rem;
                line-height: 1.25;
                font-weight: 400;
            }

            p {
                margin-top: 0;
                margin-bottom: 1rem;
                font-weight: 500;
                font-size: 1rem;
                line-height: 1.375;
            }
        }

        .drawer[data-open] {
            display: block;
        }
        .drawer-description {
            display: block;
        }
    }
}
