:host {
    // region to be removed before migration to design tokens
    --wcs-card-body-padding: var(--wcs-padding);
    // endregion

    flex: 1 1 auto;
    padding: var(--wcs-card-body-padding);
}

:host(.token-migration) {
    --wcs-card-body-padding: calc(2 * var(--wcs-semantic-padding-large));
}
