@import "../skeleton/skeleton.scss";

:host {
    // region to be removed before migration to design tokens
    --wcs-skeleton-border-radius: 0rem;
    // endregion

    span {
        border-radius: var(--wcs-skeleton-border-radius);
    }
}

:host([rounded]) {
    --wcs-skeleton-border-radius: 0.5rem;
}

:host(.token-migration) {
    --wcs-skeleton-border-radius: 0rem;
}

:host(.token-migration[rounded]) {
    --wcs-skeleton-border-radius: var(--wcs-semantic-border-radius-base);
}
